/* style.css */

/* Styling the container */
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5d7d7;
  margin-top: 150px;
}
/* Targeting the heading with class 'heading' */
.heading {
  text-align: center;
  margin: 20px;
  color: #333; /* Default color */
}

/* Styling the button with class 'button' */
.formsubmit {
  display: block;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #002d5e;
  color: #fff;
  border: none;
  cursor: pointer;
}
.formsubmit:hover {
  background-color: #00152c;
  color: #fff;
}

/* Styling the paragraph inside the #demo div */
#demo {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}
